<form action="/inicio" method="POST">
    <div class="input">
        <label for="numDocente">Num. Docente</label>
        <input name="numDocente" required class="inp" type="number">
    </div>
    <div class="input">
        <label for="nombre">Nombre</label>
        <input name="nombre" required class="inp" type="text">
    </div>
    <div class="input">
        <label for="domicilio">Domicilio</label>
        <input name="domicilio" required class="inp" type="text">
    </div>
    <div class="input">
        <label for="nivel">Nivel</label>
        <select class="inp" name="nivel">
            <option value="1">Licenciatura o Ingeniería</option>
            <option value="2">Maestro en Ciencias</option>
            <option value="3">Doctor</option>
        </select>
    </div>
    <div class="input">
        <label for="pago">Pago Hora Base</label>
        <input name="pago" required class="inp" type="number">
    </div>
    <div class="input">
        <label for="horas">Horas Impartidas</label>
        <input name="horas" required class="inp" type="number">
    </div>
    <select class="inp" name="hijos">
        <option value="0">Seleccione el Número de Hijos</option>
        <option value="1">1 o 2</option>
        <option value="2">De 3 a 5</option>
        <option value="3">Más de 5</option>
    </select>
    <button type="sumbit" class="btn calcular">Calcular</button>
    <button class="btn limpiar">Limpiar</button>
</form>
<div class="salida">
    <h3>Detalles del Pago</h3>
    <p class="p__horas">Pago por horas impartidas: $ <span><%= docente ? `${docente.getPagoHora}` : '0.00' %></span></p>
    <p class="p__bono">Pago por bono: $ <span><%= docente ? `${docente.getBono()}` : '0.00' %></span></p>
    <p class="p__impuestos">Impuestos: $ <span><%= docente ? `${docente.getImpuesto}` : '0.00' %></span></p>
    <p class="p__total">Total a pagar: $ <span><%= docente ? `${docente.getTotal}` : '0.00' %></span></p>
</div>