* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin: 100px auto;
    width: 350px;
    padding: 50px 20px 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.input > input,
.input > label {
    width: 100%;
}

.input > label {
    font-size: 12px;
    color: #525252;
    margin-bottom: 5px;
}

.inp {
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 3px;
    outline: none;
}

.inp:focus {
    border: 1px solid #268bff;
}

.input:last-of-type + select {
    width: 100%;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    width: 100%;
    color: #fff;
    outline: none;
    border: 1px solid #268bff;
    background-color: #268bff;
    border-radius: 3px;
    margin-bottom: 10px;
    transition: all .2s ease;
}

.btn:hover {
    border: 1px solid #26afff;
    background-color: #26afff;
    cursor: pointer;
}

.salida {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 150px;
}

.salida > p {
    font-size: 15px;
    color: #484848;
    margin-bottom: 10px;
}

.salida > h3 {
    margin-bottom: 30px;
}

.salida > p > span {
    font-weight: bold;
}